header {
    background-color: blue;
    height: 118px;
    width: 1042px;
}

nav {
    background-color: red;
    height: 40px;
    width: 1042px;
}

main {
    background-color: orange;
    height: 400px;
    width: 1042px;
}

footer {
    background-color: greenyellow;
    height: 100px;
    width: 1042px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1042px;
}